*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    overflow-x: hidden;
    font-family:sans-serif;
}
.opner{
    position: relative;
}
.navbar{
    display: flex;
    height: 4rem;
    width: 100rem;
    /* background-color: red; */
}
.logo{
    height: 100%;
    width: 10rem;
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}
.menus{
   margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menus h3{
    margin-left: 35px;
    text-transform: uppercase;
    font-size: small;
    font-weight: 700;
    color: #333e63;
}
.signin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 18%;
    gap: 15px;
    /* background-color: red; */
    margin-left: 25%;
    flex-direction: row;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
}
.try{
    display: flex;
    width: 50%;
    height: 60%;
    background-color: #ff6b5c;
    align-items: center;
    justify-content: center;
    font-size: small;
    font-weight: 700;
}
.disp{
    background-color: red;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}
.headings{
    height:100%;
    width: 40%;
    background-color: aqua;
    top: 8rem;
    left: 10%;
    position: absolute;
}
.headings h1{
    color: #333e63;
    font-size: 245%;
    font-weight: 500;
    line-height: 55px;
}
.headings span{
    font-size: 130%;
    font-weight: 700;
}
.headings h3{
    font-size: 22px;
    font-weight: 700;
    padding-top: 20%;
    line-height:30px;
    color: rgba(48, 46, 46, 0.329);
}
.inputs{
    /* position: relative; */
    align-items: center;
    /* justify-content: center; */
    display: flex;
     width: 83%;
     height: auto; 
    /* background-color: #ff6b5c; */
    border: 0.5px solid rgba(73, 72, 72, 0.158);
    box-shadow: rgba(73, 72, 72, 0.158) 10px;
}
.mbox{
color: #ff6b5c;
font-size: 25px;
font-weight: 400;
padding-left: 20px;
padding-right: 20px;
}
.inputs input{
    padding-left: 10px;
    font-size: larger;
    font-weight: 400;
    color: rgba(48, 46, 46, 0.473);
    border: none;
}
.inputs button{

    width: 100%;
    height: 100%;
    font-size: larger;
    font-weight: 400;
    background-color: #ff6b5c;
    text-transform: uppercase;
    padding-left: 30px;
    margin-left: 5px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
}
.photu{
    position: absolute;
    width: 45%;
    height: 80%;
    background-color: aqua;
    top: 20%;
    right: 0;
}
.kuch{
    background-color: #ff6b5c;
    color: black;
    
}